@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --color-primary: #b99668;
  /* --color-secondary: #DCC9A7; */
  --color-secondary: #ede2cc;
  --color-accent: #f7f3e8;
  /* --color-accent: #EDE2CC; */

  --color-dark: #3b332d;
  --color-lighter-dark: #5a514a;

  --font-Montserrat: "Montserrat";
  --font-Inter: "Inter";
}
@layer base {
  body {
    @apply text-lighter-dark leading-relaxed font-Montserrat;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h5 {
    @apply text-dark font-Inter;
  }
  p {
    @apply my-2;
  }
  .my-container {
    @apply max-w-[90%] md:container mx-auto px-2;
  }
  .nav-links {
    @apply transition p-2 hover:text-primary;
  }

  section {
    @apply py-12;
  }
  button {
    @apply cursor-pointer rounded;
  }
  .image {
    @apply w-full h-full;
  }
  img {
    @apply w-full h-full object-cover;
  }
  .hero-title {
    @apply text-3xl md:text-4xl lg:text-5xl font-bold;
  }
  .sub-title {
    @apply font-semibold text-lg text-dark;
  }
}
